/* =====================  VARIABLES  ==================== */

:root {
    --height-navbar:60px;
    --burger-width:20px;
    --padding-main:25px;
    --footer-height:45px;
    --text-normal-color:#444;
    --text-padding-funnel:13vw;
}
@media(min-width:400px) {
    :root {
        --font-size:1rem;
    }
}
@media(max-width:400px) {
    :root {
        --font-size:.9rem;
    }
}
.light-mode {
    --navbar-color: black;
    --navbar-bg-color: #fff;
    --border-color: 1px solid black;
}
.dark-mode {
    --navbar-color: #FFF;
    --navbar-bg-color: #000;
    --border-color: 1px solid white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



/* =====================  RESET  ==================== */

* {
    box-sizing: border-box;
    outline: none; 
    margin: 0; 
    padding: 0; 
}
ul {
    list-style: none;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size-adjust: 100%;
    line-height: 1.15;
    /* font-size: calc(1em + 1vw); */
}



/* =====================  BASIC STYLE  ==================== */
#Landing, #CoursP, #resa, #about, #bac, #mem, #orga, #tem, .open-buttonMem, .open-button, .containingPopup__content, #ML {
    font-family: Avenir,Helvetica Neue,sans-serif;
    font-size: var(--font-size);
    text-transform: uppercase;
}


nav.black ul li a, .open-buttonMem, button.black {
    cursor:pointer;
    border: 1px solid white;
    color:white;
    background-color:black;
    text-decoration: none;
    padding:10px;
    width:100%;
    text-align:center;
    transition:all .4s ease-in-out;
}
nav.black ul li a:hover, .open-buttonMem:hover, button.black:hover{
    color: black;
    border: 1px solid black;
    background-color:white;
    box-shadow: 0 0 5px black;
    transition: all 0.4s ease-in-out;
}
nav.white ul li a, button.white {
    cursor:pointer;
    border: 1px solid black;
    color:black;
    background-color:white;
    text-decoration: none;
    text-align:center;
    padding:10px;
    width:100%;
    transition:all .4s ease-in-out;
}
nav.white ul li a:hover, button.white:hover {
    color: white;
    border: 1px solid white;
    background-color:black;
    box-shadow: 0 0 5px black;
    transition: all 0.4s ease-in-out;
}




/* =====================  NAVBAR  ==================== */
.navbar {
    /* position:fixed; */
    width:100%;
    display: flex;
    align-items:center;
    justify-content:space-between;
    overflow:hidden;
    /* background-color:black; */
    height: var(--height-navbar);
    color: var(--navbar-color);
    /* background: transparent; */
    background: var(--navbar-bg-color);
    padding-left:25px;
    /* transition: all .5s ease-in-out; */
}

/******* Menu Burger ********/
.burger-menu {
    display:flex;
    align-items:center;
    justify-content:center;
}
.burger-menu .menu-post-burger {
    width:0;
    display:flex;
    padding-left: 10px;
    font-size: 16px;
    cursor:pointer;
    transition: all .3s ease-in-out;
}
.menu-btn {
    display:block;
    position:relative;
    justify-content:left;
    border: none;
    width:var(--burger-width);
    height:var(--burger-width);
    background:transparent;
    cursor:pointer;
    /* transform:scale(0.85); */
    transition: all .5s ease-in-out;
}
.menu-btn__burger,
.menu-btn__burger::before, 
.menu-btn__burger::after {
    transform:translateY(-1px);
    display:block;
    width:var(--burger-width);
    height:2px;
    background:var(--navbar-color);
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2); 
    transition: all .4s ease-in-out;
    margin-left: 0px;
}
.menu-btn__burger::before, 
.menu-btn__burger::after {
    content: '';
    position: absolute;
}
.burger-menu:hover {
    opacity: 0.75;/*rgba(0, 0, 0, 0.7); */
    transition: opacity .3s ease-in;
} 
.menu-btn__burger::before {
    transform: translateY(-6px);
}
.menu-btn__burger::after {
    transform: translateY(6px);
}
/* .burger-menu.open .menu-post-burger {
    display: none;
} */
.burger-menu.open .menu-btn__burger {
    transform: translateX(-25px);
    transform: rotate(0deg);
    background: transparent;
    box-shadow: none;
}
.burger-menu.open .menu-btn__burger::before {
    transform: rotate(-45deg);
    /* translate(17.5px, -17.5px) */
}
.burger-menu.open .menu-btn__burger::after {
    transform: rotate(45deg);
     /* translate(17.5px, 17.5px); */
}
.burger-menu.open:hover .menu-btn__burger::before {
    transform: rotate(180deg);
    transition:transform .4s ease-in-out; 
}

.burger-menu.open:hover .menu-btn__burger::after {
    transform: rotate(180deg);
    transition:transform .4s ease-in-out; 
}
.burger-menu.open p.menu-post-burger {
    visibility:hidden;
    transition:none;
}
/******* Menu tout court *******/
.navbar__link {
    visibility: hidden;
    /* transform:translateX(200px); */
}
.show-nav .navbar__link {
    /* transform: translateX(0);  */
    visibility:visible;
} 
.navbar__links {
    z-index:1;
    display:flex;
    width: 0px;
    flex-direction: column;
    height:calc(100vh - var(--height-navbar));
    position: absolute;
    top:var(--height-navbar);
    left:0;
}
#Landing .navbar__links {
    background: rgba(0,0,0,.6);
}
.show-nav div.navbar__links {
    width:100%;
    /* transition: width .3s ease-out; */
}
.show-nav ul.navbar__links-ul {
    height:100vh;
    width:35%;
    background-color: var(--navbar-bg-color);
    transition: width .3s ease-out;
}
/* .show-nav ul.navbar__links-ul li a:hover {
    text-decoration: underline;
    transition: text-decoration 1s ease-out;
}
.show-nav ul.navbar__links-ul li a {
    text-decoration: none;
    transition: text-decoration 1s ease-out;
} */
@media screen and (max-width:700px) {
    .show-nav ul.navbar__links-ul {
        height:100vh;
        width:100%;
        transition: width .3s ease-out;
    }
}
@media screen and (min-width:701px) and (max-width:1024px) {
    .show-nav ul.navbar__links-ul {
        height:100vh;
        width:50%;
        transition: width .3s ease-out;
    }
}
.navbar__links-ul {
    height:100vh;
    width:0%;
    background-color: black;
    transition: width .3s ease-out;
}
/* .show-nav .first{
    transition: all 1s ease-out;
}
.show-nav .second{
    transition: all 1.1s ease-out;
}
.show-nav .third{
    transition: all 1.2s ease-out;
}
.show-nav .fourth{
    transition: all 1.3s ease-out;
}
.show-nav .fifth{
    transition: all 1.4s ease-out;
}
.show-nav .seventh{
    transition: all 1.5s ease-out;
} */
.navbar__link {
    padding: 0 10px;
}
.navbar__link > a{
    visibility:hidden;
    width: 200px; 
} 
.show-nav .navbar__link > a{
    color: var(--navbar-color);
    text-decoration:none;
    visibility:visible;
    display: block;
    width: 100%; 
    /* A modifier */
    padding: 1rem;
    font-size: 1.4rem;
    transition: visibility .5s ease-out 300ms;
    transition: transform .3s ease-out ;
}
.navbar__link > a:hover{
    opacity: 0.75;
    transform: translateX(5px);
    transition: all .3s ease-in-out;
}
/* #Landing .show-nav .navbar__links, #CoursP .show-nav .navbar__links, #mem .show-nav .navbar__links, #orga .show-nav .navbar__links {
    border-top: 1px solid white; 
    border-top: var(--border-color); 
} */
.navbar__links {
    border-top: var(--border-color);
}
.menu-open {
    position: fixed;
    width:100%;
}

/******* Logo *******/
.navbar__logo {
    font-family: Moderne ,serif;
}
@media screen and (min-width: 64rem) {
    .navbar__logo {
    position: relative; 
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    padding-right: 5%;
    }
}
@media screen and (max-width: 64rem) {
    .navbar__logo {
    position: relative; 
    /* text-align: left; */
    padding-right: calc(25px + var(--burger-width));
    /* padding-left: 2%;  */
    }
    .burger-menu .menu-post-burger {
        visibility: hidden;
        display:none;
    }
}
.navbar__logo a.logo {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: none;
    text-decoration: none;
    color: var(--navbar-color);
    background-color: transparent;
}
.navbar__logo a.logo p{
    display:flex;
    text-align: center;
    justify-content: center;
    align-items:center;
}
@media(min-width:400px) {
    .navbar__logo a.logo p, p.pi1, p.pi2{
        font-size: 25px;
    }
}
@media(max-width:400px) {
    .navbar__logo a.logo p, p.pi1, p.pi2{
        font-size: 22px;
    }
}
@media(max-width:340px) {
    .navbar__logo a.logo p, p.pi1, p.pi2{
        font-size: 20px;
    }
}


.navbar__logo a.logo p.pi1{
    font-size: 30px;
}
.navbar__logo a.logo p.pi2{
    font-size: 30px;
}
.navbar__logo a.logo:hover{
    opacity: 0.75;
    transition: opacity .3s ease-in;
}




/* =====================  FOOTER  ==================== */
footer {
    display:flex;
    font-family: Avenir,sans-serif;
    font-size: var(--font-size);
    width: 100vw;
    background-color:black;
    color: white;
    height:var(--footer-height);
}
footer p {
    margin-left:10px;
    padding: 10px;
}
footer div {
    display: flex;
    align-items:center;
}
footer .a {
    margin-left:auto;
}
footer a {
    text-transform:none;
    color: white;
    margin-left:auto;
    padding: 10px;
    padding-right: var(--padding-main);
}



/* =====================  CONTENU LANDING PAGE  ==================== */

/******* Général sur landing page *******/
div#Landing div nav ul li{
    text-decoration: none;
    list-style-type: none;
}

/******* CP Landing *******/
.Landing__first-page {
    display:block;
    height: 100vh;
    overflow: hidden;
    width:100%;
    /* background: url("../img/ImagePresentation-min.jpg") no-repeat;
    background-size: cover; */
}
/* .Landing__first-page .light-mode { 
    opacity: .6;
    background-color: rgba(0,0,0,0); 
    text-shadow:.5px .5px 1px #ddd d;
} */
.Landing__first-page .dark-mode {
    --navbar-color: black;
    /* background-color: rgba(255,255,255,0.5);  */
    background-color: #fff;
    text-shadow: .5px .5px 20px #fff;
    --navbar-bg-color: #fff;
    --border-color: 1px solid white; 
    border-bottom: 1px solid black;
}
/* @media screen and (min-width: 1160px) and (max-width:1300px) {
    .Landing__first-page {
        background-position: 80%;
    }
}
@media screen and (min-width: 850px) and (max-width:1160px) {
    .Landing__first-page {
        background-position: 50%;
    }
}
@media screen and (min-width:450px) and (max-width:850px) {
    .Landing__first-page {
        background-position: 70%;
    }
}
@media screen and (max-width:450px) {
    .Landing__first-page {
        background-position: 65%;
        left:0;
        /* position:fixed;
        /* transform: scaleX(1.1);  
    }
} */
/* @media screen and (max-width:560px) {
    .Landing__first-page {
        background-size: 100%;
        background-position:top var(--height-navbar) right 0px;
    }
} */
/* flex pour cours */
.containingCP {
    display:flex;
    position:relative;
    align-items:flex-start;
    align-content:space-between;
    padding:25px;
    height:calc(100vh - var(--height-navbar));
    overflow: hidden;
    flex-direction: column;
    justify-content:space-between;
    background: url("../img/ImagePresentation-min.jpg") no-repeat;
    background-size: cover;
}
@media(max-width:64rem) {
    .containingCP {
        background-position: 75%;
    }
}
@media(min-width:850px) {
    h2.CP {
        font-size:32px;
        color: white;
        text-shadow: 1px 1px 1px black;
    }
    p.CP {
        font-size: 17px;
        color: white;
        padding-bottom:10px;
    }
}
@media(max-width:850px) {
    h2.CP {
        font-size:25px;
        color: white;
    }
    p.CP {
        font-size: 12px;
        color: white;
        padding-bottom:10px;
    }
}
@media screen and (min-width:850px) {
    .boutonsCP {
        z-index:0;
        padding-top:1vh;
        width:50%;
        display:flex;
        bottom:0;
        justify-content:space-between;
        align-items:stretch;
    }
    div#Landing div.CP nav ul li, div#Landing div.CP button.open-button {
        display:flex;
        width:calc(25vw - var(--padding-main));
        justify-content:center;
        align-items:center;
        line-height: 2.5vh;
    }
}
@media screen and (max-width:850px) {
    .boutonsCP {
        z-index:0;
        padding-top:1vh;
        width:100%;
        /* background:black; */
        display:flex;
        bottom:0;
        justify-content:space-between;
        align-items:stretch;
    }
    div#Landing div.CP nav ul li, div#Landing div.CP .open-button {
        display:flex;
        width:calc(50vw - var(--padding-main));
        justify-content:center;
        align-items:center;
        line-height: 2.5vh;
    }
}
div#Landing div.CP nav, div#Landing div.CP .open-btn {
    display:flex;
    justify-content:center;
    align-items:center;
    position:bottom left;
    width:calc(50vw - var(--padding-main) - var(--padding-main)/4);
    margin:0;
}
div#Landing div.CP nav.black ul, div#Landing div.CP button.black {
    display:flex;
    justify-content:center;
    align-items:center;
}
div#Landing div.CP nav.black ul li, div#Landing div.CP button.black {
    padding-right: 1vw;
}

div#Landing div.CP nav.white ul li, div#Landing div.CP button.white {
    padding-left: 1vw;
}
/* Témoignages */
.tem {
    margin-bottom: 25px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:column;
    width:calc(100vw - var(--padding-main) - var(--padding-main));
    /* height:calc(100vh - var(--padding-main) - var(--padding-main)); */
    /* background-color: #f7f8fc;*/
    background:url(../img/backgroundBois.png);
    background-size: cover;
}
.temTitre {
    padding:var(--padding-main);
    text-align:center;
    width:calc(100vw - var(--padding-main) - var(--padding-main));
    font-size:25px;
}
@media(min-width: 850px) {
    .temFactuels {
        flex-direction:row;
    }
    .témoignage:not(div.tem3) {
        margin-right:var(--padding-main);
    }
    .tem {
        height:80vh;
        /* height:auto; */
    }
}
@media(max-width: 850px) {
    .temFactuels {
        flex-direction: column;
        height:auto;
    }
    .témoignage:not(div.tem3) {
        margin-bottom:var(--padding-main);
    }
    /* .temFactuels .témoignage p.personnepadding-bottom:14vh; */
}
.temFactuels {
    padding:var(--padding-main);
    display:flex;
    justify-content:space-between;
    width:calc(100vw - var(--padding-main) - var(--padding-main));
    color:#000;
    margin-bottom:100px;
}
.témoignage {
    background-color:#e2e3df94;
    box-shadow: 3px 10px 50px #aaa;
    /* width:calc((100vw - var(--padding-main) - var(--padding-main)) / 3); */
    width:100%;
    border-radius: 40px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.temFactuels .témoignage p.temoignage {
    vertical-align: middle;
    text-align: center;
    padding-top:7vh;
    padding-right:2.5vw;
    padding-left:2.5vw;
    /* font-size:20px; */
}
@media(min-width:480px) {
    .temFactuels .témoignage p.temoignage {
        font-size:3.5vh;
    }
}
@media(max-width:480px) {
    .temFactuels .témoignage p.temoignage {
        font-size:2.6vh;
    }
}
.temFactuels .témoignage p.personne {
    /* padding-top:7vh; */
    font-size:15px;
    /* padding-left: 10px;
    padding-right:auto; */
    text-align: center;
    text-transform: none;
    padding-bottom:14vh;
}
@media(max-width:850px) {
    .temFactuels .témoignage p.personne {
        padding-top:3vh;
        padding-bottom:3vh;
    }
}

/* Nombres */
.nombres {
    margin-top: var(--padding-main);
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width:calc(100vw - var(--padding-main) - var(--padding-main));
    background-color:#21241f;
    height:auto;
    background-size: cover;
    overflow:hidden;
}
.nombresTitre {
    padding:var(--padding-main);
    text-align:center;
    width:calc(100vw - var(--padding-main) - var(--padding-main));
    font-size:20px;
    color:white;
}
.nombresFactuels {
    padding-left:var(--padding-main);
    padding-bottom: var(--padding-main);
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:calc(100vw - var(--padding-main) - var(--padding-main));
    /* height:auto; */
    color:white;
}
@media(min-width: 850px) {
    .nombresFactuels {
        flex-direction:row;
    }
    .nombres:not(div.nb3) {
        margin-right:var(--padding-main);
    }
    .nb {
        height:auto;
    }
}
@media(max-width: 850px) {
    .nombresFactuels {
        flex-direction: column;
        height:auto;
        margin-right:var(--padding-main);
    }
    .nb, .nb3 {
        margin-bottom:var(--padding-main);
    }
}
.nb, .nb3 {
    margin-right:var(--padding-main);
    background-color:#191f14;
    box-shadow: 3px 3px 20px #444;
    width:100%;
    border-radius: 40px;
}
.nombresFactuels .nb p.nombre, .nombresFactuels .nb3 p.nombre {
    vertical-align: middle;
    text-align: center;
    padding-top:25px;
    padding-right:15px;
    padding-left:25px;
    font-size:70px;
}
.nombresFactuels .nb p.keyword, .nombresFactuels .nb3 p.keyword {
    margin-top:35px;
    font-size:30px;
    text-align:center;
    vertical-align:middle;
}
.nombresFactuels .nb p.txtNb, .nombresFactuels .nb3 p.txtNb,.nombresFactuels .nb p.txtNb2,.nombresFactuels .nb3 p.txtNb2 {
    font-size:17px;
    text-align: center;
    text-transform: none;
    padding-left:10px;
    padding-right:10px;
}
.nombresFactuels .nb p.txtNb, .nb1 p.txtNb2, .nombresFactuels .nb3 p.txtNb:not(.nb3 p.txtNb2) {
    margin-top:15px;
}
p.txtNb2 {
    margin-bottom:var(--padding-main);
}
.nombresFactuels .nb1 p.txtNb2 {
    margin-top: 15px;
}
@media(max-width:850px) {
    .nombresFactuels .nb p.keyword {
        padding-top:3vh;
        padding-bottom:3vh;
    }
    .incredible {
        display:flex;
        flex-direction:row;
        justify-content:center;
    }
}


/* OM MEM */
.main-content__landing:not(.containingCP) {
    padding:var(--padding-main);
    /* padding:50px; */
}
.OMMem{
    width:100%;
    display:flex;
    justify-content:space-between;
}
@media(min-width:850px) {
    .OMMem {
        flex-direction: row;
        height:calc(100vh - var(--footer-height) - var(--padding-main) - var(--padding-main));
    }
}
@media(max-width:850px) {
    .OMMem {
        flex-direction: column;
        height:auto;
    }
}

    
.OMPage {
    width:auto;
    background: url("../img/Organisation5-min.jpg") no-repeat;
    background-position:50%;
    background-size: cover;
    display:block;
    transition:all 0.4s;
}
@media(min-width:850px) {
    .OMPage {
        margin-right: var(--padding-main);
    }
}
@media(max-width:850px) {
    .OMPage {
        margin-bottom: var(--padding-main);
        background-position-y: 90%;
    }
}
.OMPage:hover, .MemPage:hover {
    box-shadow: 0px 0px 25px black;
    transform:scale(1.01);
    transition: box-shadow 0.4s ease-out;
    transition:transform 0.4s ease-out;
}
.containingOM, .containingMem {
    display:flex;
    position:relative;
    align-items:flex-start;
    align-content:space-between;
    height:calc(100vh - var(--height-navbar) - 25px);
    width:100%;
    overflow: hidden;
}
div.OM, div.Mem {
    display:flex;
    flex-direction: column;
    padding:20px;
    bottom:var(--padding-main);
    width:100%;
    height:calc(100vh - var(--height-navbar) - 35px);
    justify-content:space-between;
    align-items:space-between;
}
.boutonsOM, .boutonsMem {
    z-index:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:stretch;
}
.boutonsOM nav ul li, .boutonsOM button, .boutonsMem nav ul li, .boutonsMem button  {
    display:flex;
    line-height: 2.5vh;
    justify-content:center;
    align-items:center;
    /* bottom:var(--padding-main); */
}
.boutonsOM nav ul li {
    margin-right: var(--padding-main);
}
@media(min-width: 850px) {
    .boutonsOM nav ul li, .boutonsOM button {
    width:calc(25vw - var(--padding-main) - var(--padding-main));
    }
}
@media(max-width: 850px) {
    .boutonsOM nav ul li, .boutonsOM .open-btn {
    width:calc(50vw - var(--padding-main) - var(--padding-main) - var(--padding-main) / 4);
    }
}
    /* Mem */
.MemPage {
    width: auto;
    background: url("../img/memoire-min.jpg") no-repeat;
    background-position:50%;
    background-size: cover;
    display:block;
    transition:all .4s;
}
div.OMMem p {
    font-size:15px;
}
div.Mem h2, div.Mem p {
    color:white;
}
/* .boutonsMem .open-button {
    padding-right: var(--padding-main);
} */
/* .boutonsMem nav ul li {
    margin-right:var(--padding-main);
} */
@media(min-width: 850px) {
    .boutonsMem nav ul li, .boutonsMem button{
    width:calc(25vw - var(--padding-main) - var(--padding-main));
    }
}
@media(max-width: 850px) {
    .boutonsMem nav ul li, .boutonsMem .open-btn{
    width:calc(50vw - var(--padding-main) - var(--padding-main) - var(--padding-main) / 4);
    }
}




/* =====================  COURS PARTICULIERS  ==================== */

#CoursP .navbar__links, #orga .navbar__links, #mem .navbar__links {
    background-color:rgba(0,0,0,0.4);
}

#CoursP .blackNavbarHere {
    border-bottom: 1px solid white;
}
.CoursP__first-page {
    display:block;
    overflow: hidden;
    width:100%;
    background-color: #f7f8fc;
    background-position:top var(--height-navbar) left 0;
    background-size: cover;
} 
@media(min-width:850px) {
    .CoursP__first-page {
        height:100vh;
    }
}
@media(max-width:850px) {
    .CoursP__first-page {
        height:120vh;
    }
}
.CoursP__first-page-all {
    margin:20px;
    margin-left:auto;
    margin-right:auto;
    height:100vh;
    display:flex;
    align-items: center;
    width:calc(100vw - 40px);
    background-color: #f7f8fc;
}
@media(min-width:850px) {
    .CoursP__first-page-all {
        height:calc(100vh - var(--height-navbar) - 40px);
        flex-direction: row;
    }
}
@media(max-width:850px) {
    .CoursP__first-page-all {
        flex-direction:column-reverse;
        align-items: center;
        justify-content: space-between;
    }
}
.CoursP__title-first-page {
    margin-left: calc(var(--text-padding-funnel) - 20px);
    margin-right: calc(var(--text-padding-funnel) - 20px);
    display:flex;
    flex-direction:column;
    align-items: center;
    width:100%;
}
.CoursP__title-first-page p {
    color: black;
    text-transform:none;
    text-align:center;
}
@media(min-width:850px) {
    .CoursP__title-first-page p {
        font-size:40px;
    }
}
@media(max-width:850px) {
    .CoursP__title-first-page p {
        font-size:37px;
    }
}
.CoursP__resa {
    z-index:0;
    width:100%;
    padding-top:10px;
    display:flex;
    bottom:0;
    text-transform: uppercase;
}
.CoursP__resa nav ul li {
    display:flex;
    margin-right:auto;
    width:70%;
    justify-content:center;
    align-items:center;
}
.CoursP__img-first-page {
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}        
@media(min-width:850px) {
    .CoursP__img-first-page {
        margin-right: var(--text-padding-funnel);
    }
}
@media(max-width:850px) {
    .CoursP__img-first-page {
        margin-right: var(--text-padding-funnel);
        margin-left: var(--text-padding-funnel);
        position:top;
    }
}
/* .CoursP__img-first-page-flex {} */

.CoursP__img-first-page-flex img {
    overflow: hidden;
    /* max-height: 70vh; */
    width:auto;
    /* max-width: 100%; */
    clip-path:ellipse(50% 50%);
}
@media(max-width:850px) {
    .CoursP__img-first-page-flex img {
        max-height:50vh;
    }
}
@media(min-width:850px) {
    .CoursP__img-first-page-flex img {
        max-height:70vh;
    }
}
@media screen and (max-width:850px) and (min-width:500px) {
    .CoursP__img-first-page-flex img {
        max-height:60vh;
    }
}
@media(max-width:500px) {
    .CoursP__img-first-page-flex img {
        max-height:55vh;
    }
}


/* ============================Text here=====================================*/
/* main.CoursP__main-content {
    background-color: #f7f8fc;
} */
main.CoursP__main-content .Text, main.orga__main-content .Text {
    margin-left:var(--text-padding-funnel);
    margin-right:var(--text-padding-funnel);
    font-family: Avenir,sans-serif;
}
main.CoursP__main-content .Text p.Question, main.orga__main-content .Text p.Question {
    padding-top:10vh;
    font-size:35px;
}
main.CoursP__main-content .Text p.s-v {
    padding-top:4vh;
    font-size:25px;
    color: var(--text-normal-color);
}
main.CoursP__main-content .Text ul.s-vliste {
    list-style: inside;
    padding-top:3vh;
    font-size:20px;
    color: var(--text-normal-color);
}
main.CoursP__main-content .Text ul.s-vliste li{
    padding-top:1vh;
    font-size:20px;
}
main.CoursP__main-content .Text p.boldImpact{
    font-size:25px;
    
    padding-top:4vh;
    line-height: 1.5;
}
main.CoursP__main-content .Text .longTexte {
    font-size:20px;
    padding-top:2vh;
    color: var(--text-normal-color);
    line-height: 1.8;
}
main.CoursP__main-content .Text ul.accompagnementListe {
    list-style: inside;
    padding-top:1vh;
    font-size:20px;
    color: var(--text-normal-color);
}
main.CoursP__main-content .Text ul.accompagnementListe li{
    padding-top:3vh;
    font-size:20px;
    line-height: 1.8;
}
/* .CoursP__resa-bot {
    padding-top:4vh;
    padding-bottom: 15vh;
    font-family: Avenir,Helvetica Neue,sans-serif;
    padding-left:15%;
    z-index:0;
    width:100%;
    display:flex;
    bottom:0;
    text-transform: uppercase;
}
.CoursP__resa-bot nav ul li {
    display:flex;
    margin-right:auto;
    width:30%;
    justify-content:center;
    align-items:center;
    box-shadow: 2px 2px 5px black;
} */
/* .open-btn {

}
.open-button {

} */
.open-btnMem {
    padding-top:7vh;
    padding-bottom: 15vh;
    font-family: Avenir,Helvetica Neue,sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:0;
    width:100%;
    display:flex;
    bottom:0;
    text-transform: uppercase;
}
.open-buttonMem {
    line-height: 2.5vh;
    display:flex;
    width:30%;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    box-shadow: 2px 2px 5px black;
}





/* =====================  ORGANISATION  ==================== */

.orga__first-page {
    display:block;
    overflow: hidden;
    width:100vw;
    height:100vh;
    background: url("../img/Organisation5.jpg") no-repeat;
    size:cover;
    /* background-color: #1b1c1b; */
    /*#ddcfb4;/*#eef0ed;/*#f7f8fc;/* */
    background-position:60%;
    background-size: cover;
} 
@media(min-width: 450px) {
    .orga__first-page {
        background-position:60%;
    } 
}
@media(max-width: 450px) {
    .orga__first-page {
        background-position:100%;
    } 
}
.orga__first-page .orga {
    --navbar-color: #FFF;
    --navbar-bg-color: rgba(255,255,255,0.5);
    --border-color: 1px solid white;
}
#orga nav.dark-mode {
    --navbar-color: black;
    --navbar-bg-color: rgba(255, 255, 255, 0.0);
}
.orga__first-page-all {
    top:100vh;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    width:calc(100vw - 80px);
    justify-content: flex-end;
    margin-left: 40px;
}
.orga__title-first-page {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: calc(var(--height-navbar) + 2 * var(--padding-main));
    font-family: Avenir,sans-serif;
}
@media(min-width: 500px) {
    .orga__title-first-page {
        align-items: flex-end;
    }
}
@media(max-width: 500px) {
    .orga__title-first-page {
        align-items: flex-start;
        padding-left:80px;
    }
}
.orga__resa nav.white a:hover {
    background-color: #1b1c1b;
}
.orga__title-first-page p {
    color:black;
    text-transform:none;
    text-shadow:0px 0px 10px #ddd;
}
@media(max-width:600px) {
    .orga__title-first-page p {
        font-size:25px;
    }
}
@media(min-width:600px) {
    .orga__title-first-page p {
        font-size:30px;
    }
}
@media(min-width: 500px) {
    .orga__first-page-all .open-button {
        width:20vw;
        position:absolute;
        right:40px;
        bottom:0;
        margin-bottom: var(--padding-main);
        margin-top:10px;
    }
}
@media(max-width: 500px) {
    .orga__first-page-all .open-button {
        width:80vw;
        position:absolute;
        right:40px;
        bottom:0;
        bottom: var(--padding-main);
        margin-top:10px;
    }
}
.orga__img-first-page {
    display:flex;
    flex-direction: row;
    width: 100%;
    margin-top: auto;
    margin-bottom:auto;
    margin-right:var(--text-padding-funnel);
    justify-content:right;

}
.orga__img-first-page-flex {
    display:block;
    /* width:25vw; */
    margin-left:30%;
    max-height:80vh;
}
.orga__img-first-page-flex img {
    overflow: hidden;
    height: 70vh;
    width:auto;
    /* max-width: 100%; */
    clip-path:ellipse(50% 50%);
}

/* ============================Text here=====================================*/

main.orga__main-content .Text, main.orga__main-content .Text {
    margin-left:var(--text-padding-funnel);
    margin-right:var(--text-padding-funnel);
    font-family: Avenir,sans-serif;
}
main.orga__main-content .Text p.Question, main.orga__main-content .Text p.Question {
    padding-top:10vh;
    font-size:35px;
}
main.orga__main-content .Text p.s-v {
    padding-top:4vh;
    font-size:25px;
    color: var(--text-normal-color);
}
main.orga__main-content .Text ul.s-vliste {
    list-style: inside;
    padding-top:3vh;
    font-size:20px;
    color: var(--text-normal-color);
}
main.orga__main-content .Text ul.s-vliste li{
    padding-top:1vh;
    font-size:20px;
}
main.orga__main-content .Text p.boldImpact{
    font-size:25px;
    padding-top:4vh;
    line-height: 1.5;
}
main.orga__main-content .Text .longTexte {
    font-size:20px;
    padding-top:2vh;
    color: var(--text-normal-color);
    line-height: 1.8;
}
main.orga__main-content .Text ul.accompagnementListe {
    list-style: inside;
    padding-top:1vh;
    font-size:20px;
    color: var(--text-normal-color);
}
main.orga__main-content .Text ul.accompagnementListe li{
    padding-top:3vh;
    font-size:20px;
    line-height: 1.8;
}
.orga__resa-bot {
    padding-top:4vh;
    padding-bottom: 15vh;
    font-family: Avenir,Helvetica Neue,sans-serif;
    padding-left:var(--text-padding-funnel);
    z-index:0;
    width:100%;
    /* background:black; */
    display:flex;
    bottom:0;
    text-transform: uppercase;
}
.orga__resa-bot nav ul li {
    display:flex;
    margin-right:auto;
    width:30%;
    justify-content:center;
    align-items:center;
}
p.LePire {
    font-size:25px;
    padding-top:0vh;
    line-height: 1.5;
}
a.link {
    color:inherit;
}
p.module {
    line-height: 1.5;
    padding-bottom: 10px;
    padding-top:10px;
    font-size: 21px;
}





/* =====================  MEMORISATION  ==================== */
.mem__first-page {
    display:block;
    overflow: hidden;
    width:100%;
    background-color:  #f7f8fc;
    background-position:top var(--height-navbar) left 0;
    background-size: cover;
} 
@media(min-width:850px) {
    .mem__first-page {
        height:100vh;
    }
}
@media(max-width:850px) {
    .mem__first-page {
        height:120vh;
    }
}
#mem .blackNavbarHere {
    border-bottom: 1px solid #000;
}
.mem__first-page-all {
    margin:20px;
    margin-left:auto;
    margin-right:auto;
    height:100vh;
    display:flex;
    align-items: center;
    width:calc(100vw - 40px);
    background-color: #f7f8fc;
}
@media(min-width:850px) {
    .mem-page-all {
        height:calc(100vh - var(--height-navbar) - 40px);
        flex-direction: row;
    }
}
@media(max-width:850px) {
    .mem__first-page-all {
        flex-direction:column-reverse;
        align-items: center;
        justify-content: space-between;
    }
}
.mem__title-first-page {
    margin-left: calc(var(--text-padding-funnel) - 20px);
    margin-right: calc(var(--text-padding-funnel) - 20px);
    display:flex;
    flex-direction:column;
    align-items: center;
    width:100vw;
}
.mem__title-first-page p {
    color: black;
    text-transform:none;
    text-align:center;
}
@media(min-width:850px) {
    .mem__title-first-page p {
        font-size:40px;
    }
}
@media(max-width:850px) {
    .mem__title-first-page p {
        font-size:37px;
    }
}
.mem__resa {
    z-index:0;
    width:100%;
    padding-top:10px;
    display:flex;
    bottom:0;
    text-transform: uppercase;
}
.mem__resa nav ul li {
    display:flex;
    margin-right:auto;
    width:70%;
    justify-content:center;
    align-items:center;
}
.mem__img-first-page {
    width:50%;
    display:flex;
    align-items: center;
    justify-content: center;
}        
@media(min-width:850px) {
    .mem__img-first-page {
        margin-right: 10px;
    }
}
@media(max-width:850px) {
    .mem__img-first-page {
        margin-right: var(--text-padding-funnel);
        margin-left: var(--text-padding-funnel);
        position:top;
    }
}
.mem__img-first-page-flex img {
    overflow: hidden;
    width:auto;
    clip-path:ellipse(50% 50%);
}
@media(min-width:850px) {
    .mem__img-first-page-flex img {
        max-height:70vh;
    }
}
@media screen and (max-width:850px) and (min-width:500px) {
    .mem__img-first-page-flex img {
        max-height:60vh;
    }
}
@media(max-width:500px) {
    .mem__img-first-page-flex img {
        max-height:50vh;
    }
}
.mem__first-page-all .open-btn, .orga__first-page-all .open-btn, .CoursP__first-page-all .open-btn {
    padding-top:4vh;
    width:80%;
}

/* ============================Text here=====================================*/

main.mem__main-content .Text, main.mem__main-content .Text {
    margin-left:var(--text-padding-funnel);
    margin-right:var(--text-padding-funnel);
    font-family: Avenir,sans-serif;
}
main.mem__main-content .Text p.Question {
    padding-top:10vh;
    font-size:35px;
}
main.mem__main-content .Text p.s-v {
    padding-top:4vh;
    font-size:25px;
    color: var(--text-normal-color);
}
main.mem__main-content .Text ul.s-vliste {
    list-style: inside;
    padding-top:3vh;
    font-size:20px;
    color: var(--text-normal-color);
}
main.mem__main-content .Text ul.s-vliste li{
    padding-top:1vh;
    font-size:20px;
}
main.mem__main-content .Text p.boldImpact{
    font-size:25px;
    padding-top:4vh;
    line-height: 1.5;
}
main.mem__main-content .Text .longTexte {
    font-size:20px;
    padding-top:2vh;
    color: var(--text-normal-color);
    line-height: 1.8;
}
main.mem__main-content .Text ul.accompagnementListe {
    list-style: inside;
    padding-top:1vh;
    font-size:20px;
    color: var(--text-normal-color);
}
main.mem__main-content .Text ul.accompagnementListe li{
    padding-top:3vh;
    font-size:20px;
    line-height: 1.8;
}
.mem__resa-bot {
    padding-top:4vh;
    padding-bottom: 15vh;
    font-family: Avenir,Helvetica Neue,sans-serif;
    padding-left:var(--text-padding-funnel);
    z-index:0;
    width:100%;
    /* background:black; */
    display:flex;
    bottom:0;
    text-transform: uppercase;
}
.mem__resa-bot nav ul li {
    display:flex;
    margin-right:auto;
    width:30%;
    justify-content:center;
    align-items:center;
}
p.LePire {
    font-size:25px;
    padding-top:0vh;
    line-height: 1.5;
}
a.link {
    color:inherit;
}
p.module {
    line-height: 1.5;
    padding-bottom: 10px;
    padding-top:10px;
    font-size: 21px;
}




/* =====================  A PROPOS  ==================== */
.about__first-page {
    display:block;
    overflow: hidden;
    width:100%;
    background-color:  #f7f8fc;
    background-position:top var(--height-navbar) left 0;
    background-size: cover;
} 
@media(min-width:850px) {
    .about__first-page {
        min-height:100vh;
    }
}
@media(max-width:850px) {
    .about__first-page {
        min-height:120vh;
    }
}
#about .blackNavbarHere {
    border-bottom: 1px solid #000;
}
.about__first-page-all {
    margin:20px;
    margin-left:auto;
    margin-right:auto;
    height:auto;
    display:flex;
    align-items: center;
    width:calc(100vw - 40px);
    background-color: #f7f8fc;
}
@media(min-width:850px) {
    .about-page-all {
        height:calc(100vh - var(--height-navbar) - 40px);
        flex-direction: row;
    }
}
@media(max-width:850px) {
    .about__first-page-all {
        flex-direction:column;
        align-items: center;
        justify-content: space-between;
    }
}
.about__title-first-page {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    margin:20px;
    width:50vw;
}
.about__title-first-page p {
    color: black;
    text-transform:none;
    text-align:center;
}
@media(min-width:850px) {
    .about__title-first-page p {
        font-size:40px;
    }
}
@media(max-width:850px) {
    .about__title-first-page p {
        font-size:37px;
    }
}
.about__resa {
    z-index:0;
    width:100%;
    padding-top:10px;
    display:flex;
    align-items: center;
    bottom:0;
    text-transform: uppercase;
}
.about__resa nav ul li {
    display:flex;
    margin-right:auto;
    margin-left: auto;
    width:50%;
    justify-content:center;
    align-items:center;
}
.about__img-first-page {
    width:50%;
    display:flex;
    align-items: center;
    justify-content: center;
}        
@media(min-width:850px) {
    .about__img-first-page {
        margin-right: 10px;
    }
}
@media(max-width:850px) {
    .about__img-first-page {
        margin-right: var(--text-padding-funnel);
        margin-left: var(--text-padding-funnel);
        position:top;
    }
}
.about__img-first-page-flex img {
    overflow: hidden;
    width:auto;
    clip-path:ellipse(50% 50%);
}
@media(min-width:850px) {
    .about__img-first-page-flex img {
        max-height:70vh;
    }
}
@media screen and (max-width:850px) and (min-width:500px) {
    .about__img-first-page-flex img {
        max-height:60vh;
    }
}
@media(max-width:500px) {
    .about__img-first-page-flex img {
        max-height:50vh;
    }
}
.about__first-page-all .open-btn, .orga__first-page-all .open-btn, .CoursP__first-page-all .open-btn {
    padding-top:4vh;
    width:80%;
}


/* ============================Text here=====================================*/

.CV {
    height:170vh;
}
.CV_pdf {
    size:cover;
    height:100vh;
}

main.about__main-content .acknowledgements {
    margin-left:var(--text-padding-funnel);
    margin-right:var(--text-padding-funnel);
    font-family: Avenir,sans-serif;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
main.about__main-content .acknowledgements .title {
    margin: calc(2 * var(--padding-main));
}
main.about__main-content .acknowledgements .text {
    margin-bottom:calc(var(--padding-main) + var(--padding-main));
}
main.about__main-content .acknowledgements .text p{
    margin-bottom:10px;
}

a.link {
    color:inherit;
}

p.module {
    line-height: 1.5;
    padding-bottom: 10px;
    padding-top:10px;
    font-size: 21px;
}





/* =====================  RESERVATION  ==================== */

.containingPopup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.8);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 8;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    /* display:none; */
}
@media screen and (min-width: 64rem) {
    .containingPopup__content {
    max-width: 50rem;
    padding: 2.5rem;
    margin: 5vw auto 3.75rem;
    }
}
.containingPopup__content {
    position: relative;
    overflow: auto;
    outline: none;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 1.25rem;
    box-sizing: border-box;
    width: calc(100% - 2.5rem);
}
/* Positionnez la forme Popup */
.containingPopup__content>:first-child {
    padding: 0;
}
/* .containingPopup__Coordinates {
    display:flex;
    flex-direction: column;
} */
.containingPopup__myCoordinates {
    padding-bottom: 1.25rem;
    width:calc(100vw - 5rem - 2.5rem);
}
@media screen and (min-width: 64rem) {
    .containingPopup__myCoordinates {
        /* width:calc(25rem - 6.25rem); */
        width:calc(50rem - 5rem);
    }
    /* .containingPopup__Coordinates {
        flex-direction: row;
    } */
}
.containingPopup__myCoordinates>:first-child {
    width: 100%;
    margin-top: 0;
}
.containingPopup__Coordinates>:first-child, .containingPopup__Coordinates>:first-child {
    margin: 1.25rem 0;
    text-align: center;
}
.login-popup {
    display:flex;
    justify-content: center;
    align-items:center;
}
/* Styles pour le conteneur de forme */
.myCoordinatesContainer {
    padding-top: 1vw;
    /* padding-bottom:2vw; */
    background-color: #fff;
}
.hide {
    display: none;
}
a.mail {
    color:black;
    text-transform: none;
}
.number a.number {
    text-transform:none;
    color:black;
}
.contactezMoi {
    text-transform: none;
    font-size: 20px;
}
.myCoordinates {
    font-size: 20px;
    display:flex;
    /* background-color:black; */
    /* margin: 1.25rem 0;
    text-align: center; */
    justify-content: center;
    width:100%;
    /* align-items: center; */
}
.myPhone {
    display:flex;
    padding-bottom: 2vw;
    padding-top:2vw;
}
.myCoordinatesContainer .logo {
    font-size: 30px;
    padding-left:3vw;
    padding-right:3vw;
}
.myMail {
    display:flex;
}

.ML__first-page {
    width:100%;
    background-color:#f7f8fc;
}
#ML {
    text-transform: none;
}
#ML h2 {
    padding-top:5vw;
    padding-bottom:5vw;
}
#ML main {
    padding-left:5vw;
    padding-right:5vw;
}
#ML h3 {
    padding-top:2vw;
    padding-bottom:2vw;
}
#ML p {
    padding-top:7px;
}
footer.ML {
    margin-top:5vw;
}
#ML .menu-post-burger {
    text-transform: uppercase;
    padding-bottom:7px;
}
#ML a.logo {
    padding-bottom:7px;
}